.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(43, 43, 43);
    height: 80vmin;
    width: 120vmin;
    border: 1.5vmin solid black;
    border-radius: 1vmin;
}

.modal > h1 {
    color: white;
}

.profile-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vmin;
}

.profile-list > li > img {
    height: 12vmin;
    border: .5vmin solid rgb(36, 133, 212);
    border-radius: 1vmin;
    opacity: 40%;
    cursor: pointer;
}

.profile-list > li > img.selected-profile {
    opacity: 1;
}

.leaders-list {
    position: relative;
}

.leaderButtons {
    margin-right: 45vmin;
}

.leaderButtons > .leftButton {
    margin-right: 2vmin;
}

.leftButton, .rightButton {
    cursor: pointer;
}

.nextPageButton {
    margin-left: 60vmin;
    margin-top: 25vmin;
    height: 5vmin;
    width: 10vmin;
    font-size: 3vmin;
}

.colorPicker {
    margin-left: 70vmin;
    display: flex;
    gap: 1vmin;
}

.colorPicker > li > div {
    height: 6vmin;
    width: 6vmin;
    cursor: pointer;
}

.colorActive {
    border: .5vmin solid rgb(36, 133, 212);
    border-radius: .5vmin;
}

.previousPageButton {
    margin-right: 40vmin;
    margin-top: 40vmin;
    height: 5vmin;
    width: 15vmin;
    font-size: 3vmin;
}

.startGame {
    height: 5vmin;
    width: 18vmin;
    font-size: 3vmin;
    margin-left: 6vmin;
}

#rivals-list {
    position: relative;
    top: 15vmin;
    left: 12vmin;
}