.gamePageGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: tan;
    height: 90vmin;
    width: 190vmin;
    margin-left: 3vmin;
}