.choamGrid {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    margin: 2vmin;
    display: flex;
    flex-direction: column;
    background-color: orange;
    gap: 2vmin;
}

.choamGrid > div {
    background-color: grey;
    height: 6vmin;
    margin: 2vmin 1vmin 1vmin 2vmin;
    
}

.choamGrid > div:hover {
    transform: scale(1.1);
    cursor: pointer;
}