.rivals {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 2vmin;
}

.rivals > ul {
    display: flex;
    gap: 5vmin;
    justify-content: center;
}

.rivalImg > img {
    height: 10vmin;
    border-radius: 10%;
} 