.card {
    border: 1vmin solid;
    border-radius: 1vmin;
    aspect-ratio:  63.5 / 88;
    height: 33vmin;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.card.active {
    border-color: rgb(36, 133, 212);
}

.card.inactive {
    border-color: black;
}

.name {
    /* padding-top: 0vmin; */
    height: 3vmin;
    background-color: rgb(45, 45, 45);
}

.name > h3{
    color: white;
    font-size: 1.7vmin;
    text-align: left;
    margin-top: .5vmin;
}

.persuassion {
    height: 3   vmin;
    width: 3vmin;
    background-color: rgb(64, 156, 222);
    color: white;
    position: absolute;
    transform: rotate(45deg);
    top: 1vmin;
    right: 1vmin;
    z-index: 9; 
}

.persuassion > span{
    position: absolute;
    transform: rotate(-45deg);
    padding-bottom: 1vmin;
}

.card >img {
    height: 16vmin;
}

.agent {
    background-color: rgb(245, 217, 181);
    height: 5vmin;
}

.reveal {
    background-color: rgb(9, 4, 116);
    height: 4.5vmin;
}

.reveal > p {
    color: white
}