.playerComponents {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 2vmin;
    display: flex;
    flex-direction: row;
    gap: 3vmin;
    flex-wrap: wrap;
    font-size: 2vmin;
}

.deck {
    border: .2vmin solid black;
    height: 6vmin;
    width: 4vmin;
}

.hand {
    height: 6vmin;
    width: 6vmin;
    margin-left: 1vmin;
}

.deck-modal {
    position: fixed;
    top: 55%;
    left: 40%;
    z-index: 1000;
    height: 50vmin;
    width: 150vmin;
    background-color: transparent;
}

.deck-modal > ul {
    display: flex;
    flex-direction: row;
    gap: 1vmin;
    list-style-type: none;
    padding-left: 1vmin;
}

.resourceCounter {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 1vmin;
}

.playerComponents > button {
    height: 5vmin;
}

.modalClose {
    height: 4vmin;
    width: 4vmin;
}

.leaderPic {
    height:12vmin;
    margin-left: 2vmin;
    border-radius: 1vmin;
}