.loadGamePage {
    position: fixed;
    background-color: rgb(43, 43, 43);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80vmin;
    width: 120vmin;
    border: 1.5vmin solid black;
    border-radius: 1vmin;
}

.loadGamePage > ul {
    margin-right: 70vmin;
}

.loadGamePage > ul > li {
    margin-right: 70vmin;
    margin: 2vmin;
}

.loadGamePage > ul > li > button {
    height: 5vmin;
    width: 20vmin;
}

.loadGameModal {
    position: absolute;
    top: 10vmin;
    right: 10vmin;
    height: 60vmin;
    width: 40vmin;
    background-color: tan;
    display: none;
}

.activeModal {
    display: block;
}

.loadGamePage > p {
    font-size: 5vmin;
    color: rgb(73, 196, 196);
}

.loadGameModal > button {
    padding: 1vmin;
    font-size: 2vmin; 
}

.loadGameModal > a {
    text-decoration: none;
    color: white;
    background-color: rgb(30, 125, 172);
    padding: 1vmin;
    border-radius: 1vmin;
    margin: 1vmin;
}