.deck {
    border: .2vmin solid black;
    height: 6vmin;
    width: 4vmin;
}

.hand {
    border: .2vmin solid black;
    height: 6vmin;
    width: 4vmin;
}

.deck-modal {
    position: fixed;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    top: 55%;
    left: 40%;
    z-index: 1000;
    height: 50vmin;
    width: 150vmin;
    background-color: transparent;
}

.deck-modal > ul {
    display: flex;
    flex-direction: row;
    gap: 1vmin;
    list-style-type: none;
    padding-left: 1vmin;
}