.gameBoardGrid {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-image: url("../../background-images/board-background.png");
    background-size: cover;
    margin: 2vmin;
    display: grid;
    grid-template-columns: 1.5fr 3fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 4fr;
}

.boardSpace {
    margin: 1vmin;
    display: flex;
    flex-direction: row;
    position: relative;
}

.boardSpace:hover {
    transform: scale(1.1);
}

.boardSpace > h3 {
    position: absolute;
    top: -4vmin;
    font-size: 2vmin;
}

.agentSpace {
    flex: 1;
    cursor: pointer;
}

.spaceRewards {
    flex: 1;
}