@font-face {
  font-family: Gothic;
  src: url("./fonts/DidactGothic-Regular.ttf");
}

/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #716b96;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: white;
  /* margin: 0; */
  font-family: Gothic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1e1e32; */
  /* padding: 2vmin; */
  /* height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: rgb(62, 62, 62);
  color: white;
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  width: 80vmin;
  height: 35vmin;
  margin-top: 20vmin;
  margin-left: 60vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

form > button {
  background-color: rgb(25, 125, 195);
  border: none;
  cursor: pointer;
}

.authButton {
  background-color: rgb(25, 125, 195);
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50vmin;
  left: 70vmin;
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

#location {
  height: 6vmin;
  width: 6vmin;
  border: .2vmin solid black;
}

button {
  background-color: rgb(30, 125, 172);
  color: white;
  border: none;
  font-family: Gothic;
  border-radius: 1vmin;
  cursor: pointer;
}

ul {
  list-style-type: none;
}