.factions {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    margin: 2vmin;
    border: .2vmin solid black;
    display: grid;
    flex-direction: column;
}

.emperor, .spacingGuild {
    display: flex;
    flex-direction: row;
    position: relative;
}

.emperor > h2, .spacingGuild > h2 {
    position: absolute;
    transform: rotate(-90deg);
    top: 14vmin;
    right: 26vmin;
}