.factions {
    grid-row: 1 / 5;
    grid-column: 1 / 2;
    margin: 2vmin;
    display: grid;
    flex-direction: column;
}

.emperor, .spacingGuild, .beneGesserit, .fremen {
    display: flex;
    flex-direction: row;
    position: relative;
}

.emperor > h2, .spacingGuild > h2, .beneGesserit > h2, .fremen > h2 {
    position: absolute;
    transform: rotate(-90deg);
    top: 10vmin;
    right: 23vmin;
}