@font-face {
    font-family: Dune_Rise;
    src: url("../../fonts/Dune_Rise.ttf");
}

.title > h1 {
    font-family: Dune_Rise;
    font-size: 18vmin;
    letter-spacing: 0.3em;
    color: #896317;
}

.title > h1 > span {
    font-size: 7vmin;
    letter-spacing: 0.3em;
}

.title > ul {
    list-style-type: none;
}

.title > ul > li {
    margin: 2vmin;
}

.title > ul > li > a{
    display: block;
    background-color: rgb(30, 125, 172);
    color: white;
    text-decoration: none;
    height: 4vmin;
    width: 40vmin;
    border-radius: 4vmin;
}
